body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1.42858;
}

.border {
  border-left: 2px solid #ddd;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.border-bottom-none {
  border-bottom: none !important;
}

.border-raduis-left-none {
  border-bottom-left-radius: 0 !important;
}

.border-raduis-right-none {
  border-bottom-right-radius: 0 !important;
}

.line-height-2 {
  line-height: 1.8;
}

.page {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  /* box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15); */
  background-color: #fff;
}

.page-list h1 {
  font-size: 18px;
  font-weight: 900;
  margin: 0.6em 0 0.6em -20px;
  border-left: 5px solid #f8b62d;
  padding-left: 15px;
}

.page-list-row {
  display: flex;
  background-color: #f2f2f2;
  border: 3px solid #ddd;
  border-radius: 3px;
}

.col {
  flex: 1;
  padding: 10px;
}

.page-list-col {
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  border-left-width: 3px;
  border-right-width: 3px;
  border-bottom: none;
}

.page-list-col h2 {
  margin-bottom: 10px;
  font-weight: 600;
}

.page-list-col h3 {
  margin-bottom: 6px;
}

.page-list-col:last-child {
  border-bottom: 3px solid #ddd;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.page-list-col-first {
  border-top-width: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}