* {
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 300px;
  height: 300px;
  border: 1px solid #333;
  margin: 100px auto;
  writing-mode: vertical-rl;
}

.wrapper p span {
  opacity: 0;
  transition: all 0.5s;
  /* transition-delay: ; */
}
